한국어 텍스트 분석

In [4]:
import pandas as pd

train_df = pd.read_csv('./nsmc-master/ratings_train.txt', sep='\t', encoding='utf-8')
train_df.head(3)

         id                           document  label
0   9976970                아 더빙.. 진짜 짜증나네요 목소리      0
1   3819312  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2  10265843                  너무재밓었다그래서보는것을추천한다      0

In [5]:
import re

train_df = train_df.fillna(' ')
train_df['document'] = train_df['document'].apply(lambda x:re.sub(r"\d+", " ", x))    # 숫자를 공백으로 변경

test_df = pd.read_csv('./nsmc-master/ratings_test.txt', sep='\t', encoding='utf-8')
test_df = test_df.fillna(' ')
test_df['document'] = test_df['document'].apply(lambda x:re.sub(r"\d+", " ", x))

In [ ]:
train_df.drop('id', axis=1, inplace=True)
test_df.drop('id', axis=1, inplace=True)

In [ ]:
from konlpy.tag improt Twitter